{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section>
        <h2 class="text-3xl font-bold mb-4">{% trans "À Propos" %}</h2>
        <p class="text-lg mb-4">{{ a_propos.contenu }}</p>
        {% if a_propos.competences.all %}
            <h3 class="text-xl font-semibold mb-2">{% trans "Compétences" %}</h3>
            <ul class="list-disc pl-5">
                {% for competence in a_propos.competences.all %}
                    <li>{{ competence.nom }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock %}