
<div class="page-loader" id="pageLoader" aria-hidden="true" data-loader="">
    <div class="page-loader__glow"></div>
    <div class="page-loader__grid"></div>

    <div class="page-loader__inner">
        <div class="page-loader__core"><span></span></div>
        <div class="page-loader__phase" data-loader-phase="">BUILD</div>
        <div class="page-loader__track">
            <div class="page-loader__fill" data-loader-fill=""></div>
        </div>
        <div class="page-loader__dest" data-loader-dest=""></div>
    </div>
</div>


<script>
(function() {
    'use strict';
    // Reset scroll on page load
    if ('scrollRestoration' in history) {
        history.scrollRestoration = 'manual';
    }
    window.scrollTo(0, 0);
})();
</script>
